<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="main.js" defer></script>
    
    <title>Home</title>
    <style>
        body{
            background-image: url('/img/home_background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-size: 100% 100%;
            min-height: 100vh;
        }

    </style>
</head>
<body>
        <!-- <header style="border-bottom: 1px solid #aaa; margin-bottom: 10px; padding-bottom: 10px;"> -->
        <nav class="navbar">
            <div class="navbar__logo">
                <i class="fab fa-accusoft"></i>
                <a href="/">Rest in the Forest</a>
            </div>

            <ul class="navbar__menu">
                <li> <a href="/">Home</a> </li>
                <li> <a href="/profile">Profile</a></li>
                <li> <a href="/map">Map</a> </li>
                <li> <a href="/contact">Contact</a> </li>
                <% if(idx == 0) { %>
                    <li> <a href="/contactList">ContactList</a> </li>
                <% } else { %>
                    <li> <a href="/board">Board</a></li>
                <% } %>
            </ul>

            <ul class="navbar__icons">
                <% if(user_id) {%>
                    <li><a href="/"><%=name%> 님</a></li> <!-- user_info 이동 구현-->
                    <li><a href="/logout"> 로그아웃 </a></i></li>
                <% } else { %>    
                    <li><a href="/login"> 로그인 </a></i></li>
                <% } %>    
            </ul>

            <a href="#" class="navbar__toogleBtn">
                <i class="fas fa-bars"></i>
            </a>
        </nav>

    