<%-include('header.ejs')%>
    
    <ul>
        <li> 이름 : 박재현(ProteinJ)</li>
        <li> 이메일 : jaehyun516@naver.com</li>
        <li> 주소 : 경기 성남시 분당구 불정로 6</li>
        <img src="/img/map.png" width="500", height="400">
    </ul>


<%-include('footer.ejs')%>
    